.main_table {
	width: 470px;/*  ✓  */
	max-width: 450px;
	border-spacing: 0; /*  ✓  */
	border-collapse: collapse; /*  ✓  */
	table-layout: fixed; /*  ✓  */
}

a {
	color: black;
	text-decoration: none;
}

.logo { 
	width: 180px;/*  ✓  */
	max-width: 180px;
}

.th_column_left {
	width: 180px; /*  ✓  */
}

.th_column_right {
	width: 260px; /*  ✓  */
}

.column_left {
	vertical-align: middle;
	/*vertical-align: -webkit-baseline-middle;*/
}

.th_column_space {
	width: 14px; /*  ✓  */
}

.th_column_line {
	width: 2px; /*  ✓  */
	max-width: 2px; /*  ✓  */
	min-width: 2px; /*  ✓  */
}

.column_line {
	background-color: #b31d22; /*  ✓  */
}

.under_text { 
	font-size: 7px; /*  ✓  */
	text-align: left; /*  ✓  */
	padding: 0; /*  ✓  */
	font-weight: 600; /*  ✓  */
}

.under_text>p {
	padding-top: 10px; /*  ✓  */
}

.main_rows {
	width: 100%; /*  ✓  */
	min-width: 100%; /*  ✓  */
	max-width: 500px;
	border-spacing: 0; /*  ✓  */
	border: 0; /*  ✓  */
	padding: 0; /*  ✓  */
}

#name {
	display: inline-block; /*  ✓  */
	font-size: 16px; /*  ✓  */
	color: black; /*  ✓  */
	font-weight: 800; /*  ✓  */
	line-height: 20px; /*  ✓  */
	border-bottom: 2px solid #b31d22; /*  ✓  */
	margin-bottom: 2px;/*  ✓  */
}

.role {
	font-size: 13px; /*  ✓  */
	font-weight: 600; /*  ✓  */
}

.table_info {
	border-collapse: collapse; /*  ✓  */
	table-layout: fixed; /*  ✓  */
}

.info_wrapper td {
	line-height: 20px;
}

.info_content {
	font-size: 11px;
	font-weight: 600;
	max-height: 16px;
}

.info_icon>img {
	width: 12px;
	margin-right: 6px;
}

.main_rows_spacing {
	height: 12px;
}

.row_spacing {
	height: 8px;
}

img {
	object-fit: contain;
}

p,
a {
	margin: 0;
	margin-block: 0;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

th {
	height: 0px;
	padding: 0px;
}

tr,
td {
	border: 0px;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
}